/* --- 2. CUERPO GENERAL (Centrado Total) --- */
body {
  font-family: system-ui, sans-serif;
  background-color: #f4f4f9;
  margin: 0;

  /* Flexbox para el centrado*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Centra el carrusel exactamente en la pantalla */
}

.carrusel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra la barra y los botones respecto a las fotos */
}

/* Cajas del carrusel */
.carrusel-contenedor {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  /* Padding para separar la barra */
  padding: 20px 0;
  /* Tamaño maximo para que aparezcan solo dos fotos a la vez con un margen de 30px */
  width: 830px;
  /* Barra de desplazamiento */
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
}

/* Cajas para las imagenes */
.carrusel-item {
  /* Tamaño fijo*/
  flex: 0 0 400px;
  height: 400px;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.carrusel-controles {
    display: flex;
    justify-content: space-between; /* Empuja el primer elemento a la izquierda y el último a la derecha */
    width: 830px; /* O el ancho que le hayas dado a tu contenedor de fotos */
    margin-bottom: 20px; /* Separación con las fotos que ahora están debajo */
}
/* Auto relleno para las imagenes */
.carrusel-item img {
  width: 100%;
  height: 100%;
  display: block;
}

/* Ancho de la barra */
.carrusel-contenedor::-webkit-scrollbar {
  height: 12px;
}
/* Estilo de la barra */
.carrusel-contenedor::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
  /* Ajustamos el margen para que la barra mida lo mismo que las fotos */
  margin: 0;
}

.carrusel-contenedor::-webkit-scrollbar-thumb {
  background-color: #2c3e50;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
}

.carrusel-contenedor::-webkit-scrollbar-thumb:hover {
  background-color: #1a252f;
}

/* Botones para navegar */
.carrusel-controles {
  display: flex;
  justify-content: space-between;
  width: 830px; /* Separacion segun el tamaño maximo que pusimos de las imagenes, 400px cada una + 30px de separacion */
  margin-top: 20px; /* Un poco menos de margen para que quede más compacto */
}

.boton {
  display: inline-block;
  padding: 12px 24px;
  background-color: #2c3e50;
  color: white;
  text-decoration: none;
  border-radius: 6px;

}

.boton:hover {
  background-color: #03305a;
}