/Main.class
/Region.class
/Clasificable.class
/PuntosNegativosException.class
/ParticipantesInsuficientesException.class
/RondaInvalidaException.class
/Torneo.class
/TorneoOficial.class
/TorneoAmistoso.class
